<div class="ibox-title customTootip" *ngIf="!disablePay">                                  
    <h5>{{(fundDetails.fundingRequired - fundDetails.fundingObtained) | currency : 'USD'}} still needed for this project</h5>                
</div>
<div class="ibox-title customTootip" *ngIf="disablePay">                                  
    <h5>hurrey !! Total amount received is {{(fundDetails.fundingObtained) | currency : 'USD'}}</h5>                
</div>
<span class="arrow"></span>
<div class="ibox donationBox">                
    <div class="progress">
        <div [style.width.%]="progressBar" class="progress-bar"></div>
    </div>
    <div class="ibox-content">
        <p>
            <span class="daysTextColor">Only {{fundDetails.fundingEndTimestamp}} days left</span> to fund this project. <br />                    
            Join the <b>{{fundDetails.noOfDonors}}</b> other donors who have already supported this project. Every dollar helps.
        </p>   
         
        <div class="row">
            <div class="col-sm-6">
                <input type="text" (keypress)="numberOnly($event)" [value]="fundDetails.minimumFundingAmount" class="form-control" #childTextBox>
            </div>
            <div class="col-sm-6">
                <button type="button" [disabled]="disablePay" class="btn btn-w-m btn-primary buttonColor" (click)="onFundUpdate()">Give Now</button>
            </div>                            
        </div>                    
                        
        <div class="row">
            <div class="col-sm-4 textColor">
               why give $50?
            </div>
            <div class="col-sm-4">
               
            </div>
            <div class="col-sm-4 text-right">
                
            </div>
        </div>

    </div>
</div>
<div class="row" style="margin-top:-3%;">
    <div class="col-sm-6">
        <button type="button" class="btn btn-block btn-outline btn-default">Save for later</button>
    </div>
    <div class="col-sm-6">
        <button type="button" class="btn btn-block btn-outline btn-default">Tell your friends</button>
    </div>               
</div>